<!DOCTYPE html><!--  This site was created in Webflow. https://www.webflow.com  -->
<!--  Last Published: Wed Jul 27 2022 19:46:37 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="62debce2c3258b05f7454a6b" data-wf-site="62debce2c3258b54b0454a69">
<head>
  <%- include('metas'); %>
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/components.css" rel="stylesheet" type="text/css">
  <link href="css/un-cierre.webflow.css" rel="stylesheet" type="text/css">
  
  <link href="images/favicon.png" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
  <%- include('gtag-head'); %>
</head>
<body class="body">
  <%- include('gtag-body'); %>

  <div class="bg-menu">
    <div class="conten-menu">
      <a href="#" class="brand w-nav-brand"><img src="images/logo-uncierre.png" loading="lazy" alt="" class="image-5"></a>
      <div data-animation="over-right" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
        <div class="w-container">
          <nav role="navigation" class="menu w-nav-menu">
            <a href="#" class="menustyle w-nav-link">Proceso de venta</a>
            <a href="#" class="menustyle w-nav-link">uncierre.com</a>
            <a href="#" class="menustyle w-nav-link">Integración CRM</a>
            <a href="#" class="menustyle w-nav-link">Software</a>
            <a href="#" class="menustyle-btn w-nav-link">Contacto</a>
          </nav>
          <div class="menu-button w-nav-button">
            <div class="w-icon-nav-menu"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="contenedor-banner">
      <div class="columnabanner">
        <div class="col-banner">
          <div class="html-embed-2 w-embed">
            <h1 style="font-weight: 300;" class="titulo-prin">Somos la plataforma<br> <b>dónde los negocios <br>inmobiliarios <br>se cierran</b> <img src="images/isotipo.svg" loading="lazy" alt="" width="28px;"></h1>
          </div>
        </div>
        <div class="texto-banner">Facilita el trabajo de tu equipo de ventas y back-office y brinda <br>un mejor servicio a tus clientes.</div>
        <a href="#" class="btn-flnegra w-inline-block">
          <div>Quiero más información</div>
        </a>
      </div>
      <div class="col-2-banner"><img src="images/uncierre-Somos-la-plataforma-donde-los-negocios-inmobiliarios-se-cierran.png" loading="lazy" height="" sizes="(max-width: 767px) 40vw, 38vw" srcset="images/uncierre-Somos-la-plataforma-donde-los-negocios-inmobiliarios-se-cierran-p-500.png 500w, images/uncierre-Somos-la-plataforma-donde-los-negocios-inmobiliarios-se-cierran.png 610w" alt="" class="image"></div>
    </div>
  </div>
  <div id="cerramos" class="cerramos-brecha">
    <div class="content-cerramos">
      <div class="col1">
        <h2 class="titulo"><strong>Cerramos</strong> la brecha digital</h2>
        <div class="texto-cuerpo">Los procesos comerciales inmobiliarios estan parcialmente digitalizados.</div>
      </div>
      <div class="col2">
        <a href="#" class="btn-azul w-inline-block">
          <div>PROCESO DIGITAL</div>
        </a>
        <a href="#" class="btn-magenta w-inline-block">
          <div class="text-block-2">PROCESO NO DIGITAL</div>
        </a>
      </div>
    </div>
    <div class="grafica"><img src="images/cerramos-la-brecha-digital.jpg" loading="lazy" srcset="images/cerramos-la-brecha-digital-p-500.jpg 500w, images/cerramos-la-brecha-digital-p-800.jpg 800w, images/cerramos-la-brecha-digital.jpg 1276w" sizes="(max-width: 767px) 100vw, 80vw" alt="" class="image-grafica-destok"><img src="images/cerramos-la-brecha-digital-mobil.jpg" loading="lazy" srcset="images/cerramos-la-brecha-digital-mobil-p-500.jpg 500w, images/cerramos-la-brecha-digital-mobil.jpg 762w" sizes="(max-width: 767px) 80vw, 100vw" alt="" class="imagen-grafica-movil"></div>
    <div class="_4columnas">
      <div class="col-mercadeo">
        <div class="arreglo">
          <div class="cerramo1"><img src="images/uncierre-mercadeo-1.png" loading="lazy" alt="">
            <div class="subtitulo">Nos damos <br>a conocer</div>
          </div>
          <div class="divisiones"><img src="images/uncierre-avance.png" loading="lazy" alt="" class="flecha-separador"></div>
          <div class="cerramos2"><img src="images/uncierre-mercadeo-2.png" loading="lazy" alt="">
            <div class="subtitulo">Nos damos <br>a conocer</div>
          </div>
        </div>
        <div class="contenedor-botones-cerramos">
          <a href="#" class="btn-azul c1 w-inline-block">
            <div class="text-block-3">Mercadeo</div>
          </a>
        </div>
      </div>
      <div class="col-ventas">
        <div class="cerramos3">
          <div class="divisiones crm"><img src="images/uncierre-avance.png" loading="lazy" alt="" class="flecha-separador"></div>
          <div class="caja-medio"><img src="images/uncierre-ventas.png" loading="lazy" alt="">
            <div class="subtitulo">Nos damos <br>a conocer</div>
            <div class="contenedor-botones-cerramos">
              <a href="#" class="btn-azul c1 _2 w-inline-block">
                <div class="text-block-3">ventas</div>
              </a>
            </div>
          </div>
          <div class="divisiones admin"><img src="images/uncierre-avance.png" loading="lazy" alt="" class="flecha-separador"></div>
        </div>
      </div>
      <div class="cerramos4"><img src="images/uncierre-administracion.png" loading="lazy" srcset="images/uncierre-administracion-p-500.png 500w, images/uncierre-administracion.png 524w" sizes="100vw" alt="">
        <div class="subdivi">
          <div class="subtitulo sub">Proceso de documentación</div>
          <div class="subtitulo sub">Proceso de entrega</div>
        </div>
        <div class="contenedor-botones-cerramos">
          <a href="#" class="btn-magenta cm w-inline-block">
            <div class="text-block-4">Administración del cierre</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="nuestro-objetivo">
    <div class="contenedor-nuestos-objetivos"><img src="images/isotipo.svg" loading="lazy" alt="" class="image-3">
      <h3 class="titulo-blanco">Nuestro objetivo es facilitar que los <strong>desarrolladores inmobiliarios vendan, administren y cierren negocios a la velocidad de Internet</strong> y no a la velocidad del papeleo.</h3>
    </div>
  </div>
  <div class="crm">
    <div class="conten-crm">
      <div class="crm-col1">
        <h4 class="titulo">¿Por qué necesitas <strong>uncierre?</strong></h4>
        <div class="texto-cuerpo sep-nec"><strong>Ayuda a tu equipo comercial y de back office a tener un mejor control del inventario y las reservas. </strong>Deja atrás los procesos en papel, los controles en múltiples exceles y los retrasos en cobros de enganches y estados de cuenta.</div>
        <h5 class="titulo">Intégralo<br>con tu <strong>CRM</strong></h5>
        <div class="texto-cuerpo">Nos integramos con Pipedrive para que la información fluya facilmente entre sistemas. <br>‍<strong>uncierre</strong> tiene la capacidad de integrarse con las herramientas que ya utilizas a través de nuestro API.</div>
      </div>
      <div class="crm-col2"><img src="images/uncierre-integracion.png" loading="lazy" srcset="images/uncierre-integracion-p-500.png 500w, images/uncierre-integracion.png 561w" sizes="(max-width: 767px) 360px, (max-width: 991px) 290px, 34vw" alt="" class="image-4"></div>
    </div>
  </div>
  <div id="administra" class="administra-sec">
    <div class="contenedor-admin">
      <div class="col-administra flocenter">
        <h6 class="titulo">Administra, agiliza y facilita <strong>tus cierres</strong></h6>
      </div>
      <div class="colum-aling-arriba">
        <div class="col-adm-int sep3">
          <div class="lista sep1">
            <div class="item"><img src="images/isotipo-negro.svg" loading="lazy" alt="" class="img-item"></div>
            <div class="item-texto">
              <div class="texto-cuerpo">Administración y análisis de tu inventario en tiempo real.</div>
            </div>
          </div>
          <div class="lista sep2">
            <div class="item"><img src="images/isotipo-negro.svg" loading="lazy" alt="" class="img-item"></div>
            <div class="item-texto">
              <div class="texto-cuerpo">Tú y tu equipo pueden trabajar todo esto desde la computadora y tu celular. Para que cerrar sea posible en todo momento y lugar.</div>
            </div>
          </div>
          <div class="lista ult">
            <div class="item"><img src="images/isotipo-negro.svg" loading="lazy" alt="" class="img-item"></div>
            <div class="item-texto">
              <div class="texto-cuerpo">Digitaliza el proceso de Reserva y minimiza el uso del papel y los errores.</div>
            </div>
          </div>
        </div>
        <div class="col-adm-int">
          <div class="lista">
            <div class="item"><img src="images/isotipo-negro.svg" loading="lazy" alt="" class="img-item"></div>
            <div class="item-texto">
              <div class="texto-cuerpo">Gana visibilidad y gestiona tu cartera de cobros para que no pierdas ventas por cobros retrasados.</div>
            </div>
          </div>
          <div class="lista">
            <div class="item"><img src="images/isotipo-negro.svg" loading="lazy" alt="" class="img-item"></div>
            <div class="item-texto">
              <div class="texto-cuerpo">Cotiza con confianza sabiendo que tu inventario siempre esta al día y con las reglas que tu configuraste.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="conten-carrucel"><img src="images/uncierre-software-administracion.png" loading="lazy" srcset="images/uncierre-software-administracion-p-500.png 500w, images/uncierre-software-administracion-p-800.png 800w, images/uncierre-software-administracion-p-1080.png 1080w, images/uncierre-software-administracion-p-1600.png 1600w, images/uncierre-software-administracion-p-2000.png 2000w, images/uncierre-software-administracion-p-2600.png 2600w, images/uncierre-software-administracion.png 2782w" sizes="(max-width: 3477px) 80vw, 2782px" alt=""></div>
  </div>
  <div class="administra-cell">
    <div class="contan-admin-cell">
      <div class="col-1-adm-cell separador">
        <h6 class="titulo">Administra desde<br>‍<strong>tu celular</strong></h6>
        <a href="#" class="btn-flnegra w-inline-block">
          <div>Quiero más información</div>
        </a>
      </div>
      <div class="col-1-adm-cell"><img src="images/uncierre-administracion-.png" loading="lazy" srcset="images/uncierre-administracion--p-500.png 500w, images/uncierre-administracion--p-800.png 800w, images/uncierre-administracion--p-1080.png 1080w, images/uncierre-administracion-.png 1402w" sizes="(max-width: 767px) 80vw, (max-width: 991px) 45vw, (max-width: 2549px) 55vw, 1402px" alt="" class="image-6"></div>
    </div>
  </div>
  <div class="nuestro-objetivo">
    <div class="contenedor-digitalizar">
      <div class="objetivo-col1">
        <div class="text-block-5">¿Quieres digitalizar<br>‍<strong>tus cierres inmobiliarios?</strong></div>
        <a href="#" class="btn-flnegra btn-flblanco w-inline-block">
          <div>Hablemos</div>
        </a>
      </div>
      <div class="objetivo-col2">
        <div class="administra">Administra,<br>agiliza, y facilita<br> tus cierres.</div>
        <div class="redes">
          <a href="#" class="link-redes">Fb</a>
          <div class="sep-red-footer"> / </div>
          <a href="#" class="link-redes">Ins</a>
          <div class="sep-red-footer"> / </div>
          <a href="#" class="link-redes">Li</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="text-footer">©2022 uncierre la plataforma de propietarios modernos.</div>
  </div>

  <%- include('scripts-footer'); %>
</body>
</html>