<meta charset="utf-8">

<meta content="width=device-width, initial-scale=1" name="viewport">

<title>Uncierre</title>

<meta name="description"
    content="Administra, agiliza y facilita tus cierres" />

<link rel="canonical" href="https://uncierre.com" />

<meta property="og:locale" content="es_ES" />

<meta property="og:type" content="website" />

<meta property="og:title" content="Administra, agiliza y facilita tus cierres" />

<meta property="og:description"
    content="Administra, agiliza y facilita tus cierres" />

<meta property="og:url" content="#" />

<meta property="og:site_name" content="Selva apartamentos Altos De Calasanz" />

<meta property="article:modified_time" content="2021-08-26T21:48:24+00:00" />

<meta property="article:publisher" content="https://www.facebook.com/" />

<meta property="og:image" content="https://uncierre.com/cover.png" />

<meta name="twitter:card" content="summary_large_image" />
